/* style.css
    Myriam Nguyen
    04-06-2020
 */

.fondRouge{
    background-color: darkred;
    height: 5rem;
}
.fondOrange{
    background-color: orange;
    height: 5rem;
}
.fondBleu{
    background-color: darkblue;
    height: 9rem;
}
.fondNoir{
    background-color: #000000;
    height: 9rem;
}
.fondGris{
    background-color: darkgrey;
    height: 9rem;
}

body{
    background-color: #0b0b0b;
}

p{
    color: #6c6c6c;
    font-weight: bold;
    font-size: 1.6rem;
}

@font-face{
    font-family:maPolice;
    src: url("../font/Thewitcher-jnOj.ttf");
}

h1{
    font-family: maPolice;
    font-size: 4.5rem;
    color: #ffffff;
    padding-bottom: 3rem;
}

h2{
    font-family: maPolice;
    font-size: 4rem;
    color: #ffffff;
}

#banniere{
    background-image: url("../img/witcherBanniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem;
    width: 100%;
}
hr{
    background-color: #353434;
    height: 1px;
    border-style: none;
    margin: 2% 0;
}

.text{
    font-family: maPolice;
    color: #ffffff;
    text-align: center;
}

#icon{
    color: #ffffff;
    text-align: center;
}


















*{
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}

@font-face{
    font-family: Leelawadee;
    src: url("../font/leelawadee.ttf")
}

body{
    font-family:Leelawadee;
    margin:0;
    padding:0;
}

.container nav.desk{
    width:100%;
    background:#ebebeb;
    height:12rem;
    position:fixed;
    top:0;
    left:0;
    padding:2rem;
    vertical-align:middle;
}

nav.desk ul{
    list-style: none;
    width:75%;
    margin:auto;
}

nav.desk ul li{
    width:20%;
    float:left;
    text-align:center;
    line-height:6rem;
    cursor:pointer;
    transition: all 0.5s ease;

}

nav.desk ul li:hover{
    background:lightgrey;
}






h1{
    font-family:Leelawadee;
    font-size:2rem;
    color:#ff3e46;
    text-align:left;
}

h2{
    color:#ffffff;
    font-size:2rem;
}


.img1{
    background-image:url("../img/img1.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-position:0 center;
    height:200rem;
}
li